body {
  background: #102f44;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.box + .box {
  margin-left: 40px;
}

.container {
  margin: 30px auto;
  width: 335px;
}

.boxes {
  font-size: 0;
  margin-bottom: 40px;
}

.box {
  cursor: pointer;
}

.shake:hover {
  animation-duration: .2s;
  animation-iteration-count: infinite;
  animation-name: shake;
  animation-timing-function: linear;
}

@keyframes shake {
  0% {transform: rotate(8deg) translate(1px, 0);}
  50% {transform: rotate(-8deg) translate(-1px, 0);}
  100% {transform: rotate(8deg) translate(1px, 0);}
}
