body {
  text-align: center;
  font-family: Arial, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.msg {
  margin: 0 auto 15px;
  width: 400px;
  font-weight: bold;
  animation: fadeOut 3s;
  animation-fill-mode: both;
}

.msg.success {
  color: #4caf50;
}

.msg.error {
  color: #f44336;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
