body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

.container {
  width: 300px;
  margin: auto;
}

.container h1 {
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  padding: 16px;
}

.container ul {
  padding: 0;
  list-style: none;
}

.container li {
  line-height: 1.5;
}

.container input[type="checkbox"] {
  margin-right: 5px;
}

.container input[type="text"] {
  padding: 2px;
  margin-right: 5px;
}

h1 > span {
  color: #ccc;
  font-size: 12px;
  font-weight: normal;
  margin-left: 5px;
}

h1 > button {
  float: right;
}

.done {
  text-decoration: line-through;
  color: #ccc;
}

.command {
  font-size: 12px;
  cursor: pointer;
  color: #08c;
  margin-left: 5px;
}
