body {
  padding-top: 25px;
}

.done {
  text-decoration: line-through;
}

.close-todo {
  transition: opacity 0.8s, visibility 0.8s;

  opacity: 0;
  visibility: hidden;
}

ul {
  margin-top: 40px;
}
