body {
  font-size: 14px;
  font-family: Verdana, sans-serif;
}

.container {
  width: 400px;
  margin: 10px auto;
}

#question {
  background: #cce5ff;
  color: #004085;
  height: 40px;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

#answers {
  list-style: none;
  padding: 0;
  margin: 0;
}

#answers > li {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

#answers > li:hover {
  cursor: pointer;
  background: #f8f8f8;
}

#btn {
  cursor: pointer;
  background: #3498db;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  color: #fff;
  box-shadow: 0 3px 0 #2880b9;
}

#btn.disabled {
  opacity: 0.6;
}
