body {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 16px;
}

#container {
  margin: 0 auto;
  width: 322px;
}

td,
th {
  width: 60px;
  height: 45px;
}

th {
  color: #f06292;
  font-size: 22px;
}

td {
  background: #f06292;
  color: #fff;
}
