.container {
  width: 300px;
  margin: 0 auto;
}

main {
  position: relative;
}

#prev,
#next {
  cursor: pointer;
  font-size: 42px;
  color: #bbb;
  position: absolute;
  top: 90px;
}

#prev {
  left: -60px;
}

#next {
  right: -60px;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  float: left;
  cursor: pointer;
  opacity: 0.6;
}

nav li + li {
  margin-left: 6px;
}

nav li:hover {
  opacity: 1;
}

nav li.current {
  opacity: 1;
}

nav img {
  width: 45px;
  height: 30px;
}

#play,
#pause {
  display: inline-block;
  width: 70px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  color: #aaa;
  border: 1px solid #aaa;
  border-radius: 3px;
  cursor: pointer;
  float: right;
}

#play.hidden,
#pause.hidden {
  display: none;
}
