body {
  background: #bdc3c7;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.slot {
  background: #ecf0f1;
  border: 5px solid #fff;
  border-radius: 10px;
  margin: 15px auto;
  overflow: hidden;
  padding: 20px;
  width: 300px;
}

.panel {
  float: left;
}

.panel + .panel {
  margin-left: 15px;
}

.panel img {
  margin-bottom: 5px;
}

.stop {
  background: #ef454a;
  border-radius: 20px;
  box-shadow: 0 3px 0 #d1483e;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  user-select: none;
  width: 90px;
}

#spin {
  background: #3498db;
  border-radius: 20px;
  box-shadow: 0 3px 0 #2880b9;
  color: #fff;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  margin: auto;
  text-align: center;
  user-select: none;
  width: 280px;
}
