<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="./public/css/quiz.css">
</head>
<body>
    <div id="container">
        <h1>Q.What is A?</h1>
        <ul>
            <li class="answer">A0</li>
            <li class="answer">A1</li>
            <li class="answer">A2</li>
            <li class="answer">A3</li>
        </ul>
        <div id="btn" class="disabled">Next Question</div>
    </div>
</body>
</html>
