<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="./public/css/quiz.css">
</head>
<body>
    <div id="container">
        <% if (isFinished) { %>
            <div id="result">
                Your score ...
                <div>100 %</div>
            </div>
            <a href=""><div id="btn">Replay?</div></a>
        <% } else { %>
            <h1>Q. <%= quiz.question%></h1>
            <% const answerLength = Object.keys(quiz.answer).length%>
            <ul>
                <% for (let i = 0; i < answerLength; i += 1) { %>
                    <li class="answer"><%= quiz.answer[i] %></li>
                <% } %>
            </ul>
                <% const buttonName =  isLast ? 'Show Result' : 'Next Question' %>
            <div id="btn" class="disabled"><%= buttonName %></div>
        </div>
    <% } %>
    <script src="../public/js/quiz.js"></script>
</body>
</html>
