<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Vue.js Todo App</title>
  <link rel="stylesheet" href="../../public/css/reactTodo.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app" class="container">
    <h1>
      <button @click="purge">Purge</button>
      My Todos
      <span>({{ remaining.length }}/{{ todos.length }})</span>
    </h1>
    <ul v-if="todos.length">
      <li v-for="(todo, index) in todos" :key="todo.id">
        <label>
          <input
             type="checkbox"
             v-model="todo.isDone"
          />
            {{ todo.title}}
        </label>
        <span v-on:click="deleteItem(index)" class="command">[X]</span>
      </li>
    </ul>
    <ul v-else>
      <li>Nothing to do!</li>
    </ul>
    <form @submit.prevent="addItem">
      <input
         type="text"
         v-model="item"
      />
      <input type="submit" value="Add"/>
    </form>
  </div>
  <script src="../../public/js/vuejsTodo.js"></script>
</body>
</html>
