<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Vue.js Quiz App</title>
  <link rel="stylesheet" href="../../public/css/quiz.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="container">
    <div id="app">
      <div v-if="isFinished">
        <div id="result">
          Your score ...
          <div>{{ score }} %</div>
        </div>
        <div id="btn" @click="handleReplayClick">Replay?</div></a>
      </div>
      <div v-else>
        <h1>Q. {{ quizSets.question }}</h1>
        <ul>
          <answer
             v-for="(answer, index) in quizSets.answer"
             v-bind:answer="answer"
             v-bind:index="index"
             v-bind:selected-answer="selectedAnswer"
             v-bind:correct-answer="correctAnswer"
             :key="answer"
             v-on:judge="handleAnswerClick"
          />
        </ul>
        <div id="btn" @click="handleNextClick" v-bind:class="{ disabled: !selectedAnswer }">
          {{isLast ? 'Show Result' : 'NextQuestion'}}
        </div>
      </div>
    </div>
  </div>
<script src="../../public/js/vuejsQuiz.js"></script>
</body>
</html>
