body {
  background: #ddd;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.stage {
  height: 260px;
  margin: 0 auto;
  overflow: hidden;
  width: 500px;
}

#cards {
  height: 260px;
  transition: 0.8s;
  width: 1500px;
}

.card {
  background: #fff;
  border-radius: 10px;
  float: left;
  height: 210px;
  padding: 25px;
  width: 450px;
}

.card + .card {
  margin-left: 500px;
}

#cards.move {
  transform: translate(-1000px, 0);
}

.left-side {
  background-size: cover;
  border-radius: 10px;
  float: left;
  width: 160px;
}

.left-side img {
  border-radius: 10px;
}

.right-side {
  float: right;
  text-align: center;
  width: 260px;
}

.right-side h1 {
  margin: 10px 0;
}

.card input {
  font-size: 14px;
  margin-bottom: 20px;
  padding: 10px;
  width: 230px;
}

.btn {
  background: #35ac64;
  border-radius: 20px;
  box-shadow: 0 5px 0 green;
  color: #fff;
  cursor: pointer;
  display: block;
  height: 45px;
  line-height: 45px;
  margin: 0 auto;
  text-decoration: none;
  width: 200px;
}

#tweet {
  background: #1da1f2;
  box-shadow: 0 5px 0 #006dbf;
  margin-bottom: 20px;
}

#result_name,
#result_message,
#result_job,
#result_type {
  font-weight:  bold;
}

#retry {
  cursor: pointer;
  text-decoration: underline;
}

.bg-fire {
  background-image: url(../img/bg-fire.gif);
}

.bg-water {
  background-image: url(../img/bg-water.gif);
}

.bg-thunder {
   background-image: url(../img/bg-thunder.gif);
 }
