body {
  background: #e0e0e0;
  color: #fff;
  font-family: Verdana, sans-serif;
  margin: 0;
  text-align: center;
}

#btn {
  background: #00aaff;
  border-radius: 5px;
  box-shadow: 0 4px #0088cc;
  cursor: pointer;
  margin: 0 auto;
  padding: 7px;
  width: 200px;
}

#btn:hover {
  opacity: 0.8;
}

#card {
  cursor: pointer;
  font-size: 38px;
  height: 100px;
  line-height: 100px;
  margin: 60px auto 20px;
  perspective: 100px;
  transform-style: preserve-3d;
  transition: transform .8s;
  width: 400px;
}

#card-front,
#card-back {
  backface-visibility: hidden;
  border-radius: 5px;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

#card-front {
  background: #fff;
  color: #333;
}

#card-back {
  background: #00aaff;
  transform: rotateY(180deg);
}

.open {
  transform: rotateY(180deg);
}
